In [4]:
import pandas as pd
import numpy as np
import openpyxl 
from datetime import date

In [5]:
data = pd.read_excel(r'raw-data.xlsx')

In [6]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Zomato_Sales,Swiggy_Revenue_After_Commission,Zomato_Revenue_After_Commission,Total_Expenses,Grocery_Expenses,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,150665,109775,117519,1168448,255358,913090,474235,30,11,19
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,109993,165389,85795,998777,258547,740230,480160,30,13,17
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,230108,181375,179484,1260443,399703,860740,742305,30,13,17
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,155420,211254,121228,1122092,341842,780250,634848,30,12,18
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,153740,151042,119917,1017147,316457,700690,587707,30,12,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,169284,179752,132042,1862948,337157,1525791,626148,49,19,30
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,190603,160743,148670,1670945,354237,1316708,657870,49,19,30
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,128909,227510,100549,1596974,356951,1240023,662909,49,19,30
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,229372,213352,178910,1691309,411547,1279762,764301,49,20,29
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,163418,206150,127466,1813508,372291,1441217,691398,49,21,28

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Branch                           288 non-null    object
 1   Month_Year                       288 non-null    datetime64[ns]
 2   Total_Sales                      288 non-null    int64
 3   Veg_Sales                        288 non-null    int64
 4   NonVeg_Sales                     288 non-null    int64
 5   South_Indian_Sales               288 non-null    int64
 6   South_Indian_Quantity            288 non-null    int64
 7   Chinese_Sales                    288 non-null    int64
 8   Chinese_Quantity                 288 non-null    int64
 9   North_Indian_Sales               288 non-null    int64
 10  North_Indian_Quantity            288 non-null    int64
 11  Arabian_Sales                    288 non-null    int64
 12  Arabian_Quantity                 288 non-null    int64
 13  Direct_Sales                     288 non-null    int64
 14  Swiggy_Sales                     288 non-null    int64
 15  Zomato_Sales                     288 non-null    int64
 16  Swiggy_Revenue_After_Commission  288 non-null    int64
 17  Zomato_Revenue_After_Commission  288 non-null    int64
 18  Total_Expenses                   288 non-null    int64
 19  Grocery_Expenses                 288 non-null    int64
 20  Total_Salaries                   288 non-null    int64
 21  Net_Profit                       288 non-null    int64
 22  Total_Employees                  288 non-null    int64
 23  Female_Employees                 288 non-null    int64
 24  Male_Employees                   288 non-null    int64
dtypes: datetime64[ns](1), int64(23), object(1)
memory usage: 56.4+ KB

In [8]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Zomato_Sales,Swiggy_Revenue_After_Commission,Zomato_Revenue_After_Commission,Total_Expenses,Grocery_Expenses,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,150665,109775,117519,1168448,255358,913090,474235,30,11,19
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,109993,165389,85795,998777,258547,740230,480160,30,13,17
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,230108,181375,179484,1260443,399703,860740,742305,30,13,17
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,155420,211254,121228,1122092,341842,780250,634848,30,12,18
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,153740,151042,119917,1017147,316457,700690,587707,30,12,18

In [9]:
data['Year'] = data['Month_Year'].dt.year

In [10]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Swiggy_Revenue_After_Commission,Zomato_Revenue_After_Commission,Total_Expenses,Grocery_Expenses,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees,Year
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,109775,117519,1168448,255358,913090,474235,30,11,19,2024
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,165389,85795,998777,258547,740230,480160,30,13,17,2024
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,181375,179484,1260443,399703,860740,742305,30,13,17,2025
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,211254,121228,1122092,341842,780250,634848,30,12,18,2025
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,151042,119917,1017147,316457,700690,587707,30,12,18,2025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,179752,132042,1862948,337157,1525791,626148,49,19,30,2024
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,160743,148670,1670945,354237,1316708,657870,49,19,30,2024
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,227510,100549,1596974,356951,1240023,662909,49,19,30,2024
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,213352,178910,1691309,411547,1279762,764301,49,20,29,2025
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,206150,127466,1813508,372291,1441217,691398,49,21,28,2024

In [11]:
data['Month_Number'] = data['Month_Year'].dt.month

In [12]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Zomato_Revenue_After_Commission,Total_Expenses,Grocery_Expenses,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees,Year,Month_Number
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,117519,1168448,255358,913090,474235,30,11,19,2024,7
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,85795,998777,258547,740230,480160,30,13,17,2024,7
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,179484,1260443,399703,860740,742305,30,13,17,2025,6
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,121228,1122092,341842,780250,634848,30,12,18,2025,10
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,119917,1017147,316457,700690,587707,30,12,18,2025,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,132042,1862948,337157,1525791,626148,49,19,30,2024,5
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,148670,1670945,354237,1316708,657870,49,19,30,2024,9
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,100549,1596974,356951,1240023,662909,49,19,30,2024,3
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,178910,1691309,411547,1279762,764301,49,20,29,2025,5
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,127466,1813508,372291,1441217,691398,49,21,28,2024,6

In [13]:
data['Month_Name'] = data['Month_Year'].dt.month_name()

In [14]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Expenses,Grocery_Expenses,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees,Year,Month_Number,Month_Name
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,1168448,255358,913090,474235,30,11,19,2024,7,July
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,998777,258547,740230,480160,30,13,17,2024,7,July
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,1260443,399703,860740,742305,30,13,17,2025,6,June
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,1122092,341842,780250,634848,30,12,18,2025,10,October
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,1017147,316457,700690,587707,30,12,18,2025,8,August
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,1862948,337157,1525791,626148,49,19,30,2024,5,May
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,1670945,354237,1316708,657870,49,19,30,2024,9,September
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,1596974,356951,1240023,662909,49,19,30,2024,3,March
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,1691309,411547,1279762,764301,49,20,29,2025,5,May
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,1813508,372291,1441217,691398,49,21,28,2024,6,June

In [15]:
data['Quarter'] = 'Q' + data['Month_Year'].dt.quarter.astype('str')

In [16]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Grocery_Expenses,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees,Year,Month_Number,Month_Name,Quarter
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,255358,913090,474235,30,11,19,2024,7,July,Q3
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,258547,740230,480160,30,13,17,2024,7,July,Q3
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,399703,860740,742305,30,13,17,2025,6,June,Q2
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,341842,780250,634848,30,12,18,2025,10,October,Q4
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,316457,700690,587707,30,12,18,2025,8,August,Q3

In [17]:
data['Swiggy_Sales']

0      146367
1      220519
2      241833
3      281672
4      201389
        ...
283    239670
284    214324
285    303346
286    284469
287    274867
Name: Swiggy_Sales, Length: 288, dtype: int64

In [18]:
data['Zomato_Sales']

0      150665
1      109993
2      230108
3      155420
4      153740
        ...
283    169284
284    190603
285    128909
286    229372
287    163418
Name: Zomato_Sales, Length: 288, dtype: int64

In [19]:
data['Online_Sales'] = data['Swiggy_Sales'] + data['Zomato_Sales'] / data['Total_Sales'] * 100

In [20]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Salaries,Net_Profit,Total_Employees,Female_Employees,Male_Employees,Year,Month_Number,Month_Name,Quarter,Online_Sales
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,913090,474235,30,11,19,2024,7,July,Q3,146387.650554
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,740230,480160,30,13,17,2024,7,July,Q3,220533.889936
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,860740,742305,30,13,17,2025,6,June,Q2,241853.149421
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,780250,634848,30,12,18,2025,10,October,Q4,281687.912930
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,700690,587707,30,12,18,2025,8,August,Q3,201406.003552

In [21]:
data['Direct_Sales']

0      432561
1      408195
2      670067
3      539598
4      549035
        ...
283    554351
284    607180
285    587605
286    662007
287    625404
Name: Direct_Sales, Length: 288, dtype: int64

In [22]:
data['Direct_Sales_Percent'] = data['Direct_Sales'] / data['Total_Sales'] *100

In [23]:
data['Direct_Sales_Percent']

0      59.287987
1      55.258039
2      58.674458
3      55.247622
4      60.722944
         ...
283    57.546779
284    59.991681
285    57.616241
286    56.300389
287    58.795757
Name: Direct_Sales_Percent, Length: 288, dtype: float64

In [24]:
data['Total_Cuision_Sales'] = data['South_Indian_Sales'] + data['Chinese_Sales'] + data['North_Indian_Sales'] + data['Arabian_Sales']

In [25]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Employees,Female_Employees,Male_Employees,Year,Month_Number,Month_Name,Quarter,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,30,11,19,2024,7,July,Q3,146387.650554,59.287987,729592
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,30,13,17,2024,7,July,Q3,220533.889936,55.258039,738708
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,30,13,17,2025,6,June,Q2,241853.149421,58.674458,1142008
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,30,12,18,2025,10,October,Q4,281687.912930,55.247622,976689
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,30,12,18,2025,8,August,Q3,201406.003552,60.722944,904164

In [26]:
data['Total_Quantity_Sold'] = data['North_Indian_Quantity'] + data['Chinese_Quantity'] + data['South_Indian_Quantity'] + data['Arabian_Quantity']

In [27]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Female_Employees,Male_Employees,Year,Month_Number,Month_Name,Quarter,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales,Total_Quantity_Sold
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,11,19,2024,7,July,Q3,146387.650554,59.287987,729592,2121
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,13,17,2024,7,July,Q3,220533.889936,55.258039,738708,2147
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,13,17,2025,6,June,Q2,241853.149421,58.674458,1142008,3320
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,12,18,2025,10,October,Q4,281687.912930,55.247622,976689,2839
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,12,18,2025,8,August,Q3,201406.003552,60.722944,904164,2628

In [28]:
data['Average_Sales_Per_Item'] = data['Total_Cuision_Sales'] / data['Total_Quantity_Sold']

In [29]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Male_Employees,Year,Month_Number,Month_Name,Quarter,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales,Total_Quantity_Sold,Average_Sales_Per_Item
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,19,2024,7,July,Q3,146387.650554,59.287987,729592,2121,343.984913
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,17,2024,7,July,Q3,220533.889936,55.258039,738708,2147,344.065207
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,17,2025,6,June,Q2,241853.149421,58.674458,1142008,3320,343.978313
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,18,2025,10,October,Q4,281687.912930,55.247622,976689,2839,344.025713
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,18,2025,8,August,Q3,201406.003552,60.722944,904164,2628,344.050228

In [30]:
data['Profit_Margin'] =data['Net_Profit'] / data['Total_Sales'] *100

In [31]:
data['Profit_Margin']

0      64.999938
1      65.000061
2      64.999982
3      64.999949
4      65.000044
         ...
283    64.999974
284    65.000044
285    65.000000
286    64.999983
287    65.000014
Name: Profit_Margin, Length: 288, dtype: float64

In [32]:
data['Total_Expence_Ratio'] = data['Total_Expenses'] / data['Total_Sales'] *100

In [33]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Month_Number,Month_Name,Quarter,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,7,July,Q3,146387.650554,59.287987,729592,2121,343.984913,64.999938,160.150659
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,7,July,Q3,220533.889936,55.258039,738708,2147,344.065207,65.000061,135.206110
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,6,June,Q2,241853.149421,58.674458,1142008,3320,343.978313,64.999982,110.370768
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,10,October,Q4,281687.912930,55.247622,976689,2839,344.025713,64.999949,114.887221
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,8,August,Q3,201406.003552,60.722944,904164,2628,344.050228,65.000044,112.495853

In [34]:
data['Sales_Per_Employee'] = data['Total_Sales'] / data['Total_Employees']

In [35]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Month_Name,Quarter,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,July,Q3,146387.650554,59.287987,729592,2121,343.984913,64.999938,160.150659,24319.766667
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,July,Q3,220533.889936,55.258039,738708,2147,344.065207,65.000061,135.206110,24623.566667
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,June,Q2,241853.149421,58.674458,1142008,3320,343.978313,64.999982,110.370768,38066.933333
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,October,Q4,281687.912930,55.247622,976689,2839,344.025713,64.999949,114.887221,32556.333333
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,August,Q3,201406.003552,60.722944,904164,2628,344.050228,65.000044,112.495853,30138.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,May,Q2,239687.573250,57.546779,963304,2800,344.037143,64.999974,193.391294,19659.285714
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,September,Q3,214342.832297,59.991681,1012108,2942,344.020394,65.000044,165.095687,20655.244898
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,March,Q1,303358.639872,57.616241,1019860,2964,344.082321,65.000000,156.587571,20813.469388
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,May,Q2,284488.506943,56.300389,1175848,3418,344.016384,64.999983,143.837384,23996.897959
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,June,Q2,274882.363325,58.795757,1063689,3092,344.013260,65.000014,170.492315,21707.938776

In [36]:
data['Male'] = data['Male_Employees'] / data['Total_Employees'] *100

In [37]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Quarter,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee,Male
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,Q3,146387.650554,59.287987,729592,2121,343.984913,64.999938,160.150659,24319.766667,63.333333
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,Q3,220533.889936,55.258039,738708,2147,344.065207,65.000061,135.206110,24623.566667,56.666667
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,Q2,241853.149421,58.674458,1142008,3320,343.978313,64.999982,110.370768,38066.933333,56.666667
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,Q4,281687.912930,55.247622,976689,2839,344.025713,64.999949,114.887221,32556.333333,60.000000
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,Q3,201406.003552,60.722944,904164,2628,344.050228,65.000044,112.495853,30138.800000,60.000000

In [38]:
data['Female'] = data['Female_Employees'] / data['Total_Employees'] *100

In [39]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Online_Sales,Direct_Sales_Percent,Total_Cuision_Sales,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee,Male,Female
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,146387.650554,59.287987,729592,2121,343.984913,64.999938,160.150659,24319.766667,63.333333,36.666667
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,220533.889936,55.258039,738708,2147,344.065207,65.000061,135.206110,24623.566667,56.666667,43.333333
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,241853.149421,58.674458,1142008,3320,343.978313,64.999982,110.370768,38066.933333,56.666667,43.333333
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,281687.912930,55.247622,976689,2839,344.025713,64.999949,114.887221,32556.333333,60.000000,40.000000
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,201406.003552,60.722944,904164,2628,344.050228,65.000044,112.495853,30138.800000,60.000000,40.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,239687.573250,57.546779,963304,2800,344.037143,64.999974,193.391294,19659.285714,61.224490,38.775510
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,214342.832297,59.991681,1012108,2942,344.020394,65.000044,165.095687,20655.244898,61.224490,38.775510
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,303358.639872,57.616241,1019860,2964,344.082321,65.000000,156.587571,20813.469388,61.224490,38.775510
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,284488.506943,56.300389,1175848,3418,344.016384,64.999983,143.837384,23996.897959,59.183673,40.816327
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,274882.363325,58.795757,1063689,3092,344.013260,65.000014,170.492315,21707.938776,57.142857,42.857143

In [40]:
data['Swiggy_Commision'] = data['Swiggy_Sales'] - data['Swiggy_Revenue_After_Commission']

In [41]:
data['Zomato_Commision'] = data['Zomato_Sales'] - data['Zomato_Revenue_After_Commission']

In [42]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Cuision_Sales,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee,Male,Female,Swiggy_Commision,Zomato_Commision
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,729592,2121,343.984913,64.999938,160.150659,24319.766667,63.333333,36.666667,36592,33146
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,738708,2147,344.065207,65.000061,135.206110,24623.566667,56.666667,43.333333,55130,24198
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,1142008,3320,343.978313,64.999982,110.370768,38066.933333,56.666667,43.333333,60458,50624
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,976689,2839,344.025713,64.999949,114.887221,32556.333333,60.000000,40.000000,70418,34192
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,904164,2628,344.050228,65.000044,112.495853,30138.800000,60.000000,40.000000,50347,33823
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,963304,2800,344.037143,64.999974,193.391294,19659.285714,61.224490,38.775510,59918,37242
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,1012108,2942,344.020394,65.000044,165.095687,20655.244898,61.224490,38.775510,53581,41933
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,1019860,2964,344.082321,65.000000,156.587571,20813.469388,61.224490,38.775510,75836,28360
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,1175848,3418,344.016384,64.999983,143.837384,23996.897959,59.183673,40.816327,71117,50462
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,1063689,3092,344.013260,65.000014,170.492315,21707.938776,57.142857,42.857143,68717,35952

In [43]:
data['Total_Commision'] = data['Swiggy_Commision'] + data['Zomato_Commision']

In [44]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee,Male,Female,Swiggy_Commision,Zomato_Commision,Total_Commision
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,2121,343.984913,64.999938,160.150659,24319.766667,63.333333,36.666667,36592,33146,69738
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,2147,344.065207,65.000061,135.206110,24623.566667,56.666667,43.333333,55130,24198,79328
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,3320,343.978313,64.999982,110.370768,38066.933333,56.666667,43.333333,60458,50624,111082
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,2839,344.025713,64.999949,114.887221,32556.333333,60.000000,40.000000,70418,34192,104610
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,2628,344.050228,65.000044,112.495853,30138.800000,60.000000,40.000000,50347,33823,84170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,2800,344.037143,64.999974,193.391294,19659.285714,61.224490,38.775510,59918,37242,97160
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,2942,344.020394,65.000044,165.095687,20655.244898,61.224490,38.775510,53581,41933,95514
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,2964,344.082321,65.000000,156.587571,20813.469388,61.224490,38.775510,75836,28360,104196
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,3418,344.016384,64.999983,143.837384,23996.897959,59.183673,40.816327,71117,50462,121579
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,3092,344.013260,65.000014,170.492315,21707.938776,57.142857,42.857143,68717,35952,104669

In [45]:
data.isnull().sum()

Branch                             0
Month_Year                         0
Total_Sales                        0
Veg_Sales                          0
NonVeg_Sales                       0
South_Indian_Sales                 0
South_Indian_Quantity              0
Chinese_Sales                      0
Chinese_Quantity                   0
North_Indian_Sales                 0
North_Indian_Quantity              0
Arabian_Sales                      0
Arabian_Quantity                   0
Direct_Sales                       0
Swiggy_Sales                       0
Zomato_Sales                       0
Swiggy_Revenue_After_Commission    0
Zomato_Revenue_After_Commission    0
Total_Expenses                     0
Grocery_Expenses                   0
Total_Salaries                     0
Net_Profit                         0
Total_Employees                    0
Female_Employees                   0
Male_Employees                     0
Year                               0
Month_Number                       0
Month_Name                         0
Quarter                            0
Online_Sales                       0
Direct_Sales_Percent               0
Total_Cuision_Sales                0
Total_Quantity_Sold                0
Average_Sales_Per_Item             0
Profit_Margin                      0
Total_Expence_Ratio                0
Sales_Per_Employee                 0
Male                               0
Female                             0
Swiggy_Commision                   0
Zomato_Commision                   0
Total_Commision                    0
dtype: int64

In [46]:
data.head()

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee,Male,Female,Swiggy_Commision,Zomato_Commision,Total_Commision
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,2121,343.984913,64.999938,160.150659,24319.766667,63.333333,36.666667,36592,33146,69738
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,2147,344.065207,65.000061,135.206110,24623.566667,56.666667,43.333333,55130,24198,79328
2,Dindigai,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,3320,343.978313,64.999982,110.370768,38066.933333,56.666667,43.333333,60458,50624,111082
3,Dindigai,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,2839,344.025713,64.999949,114.887221,32556.333333,60.000000,40.000000,70418,34192,104610
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,2628,344.050228,65.000044,112.495853,30138.800000,60.000000,40.000000,50347,33823,84170

In [47]:
data['Branch'].unique()

array(['Chennai', 'Coimbatore', 'Dindigai', 'Kanyakumari', 'Madurai',
       'Ooty', 'Salem', 'Tirunelveli', 'Kodaikanal', 'Thoothukudi',
       'Tiruppur', 'Trichy'], dtype=object)

In [48]:
data['Branch'] = data['Branch'].replace("Dindigai","Dindugal")

In [49]:
data['Branch'].unique()

array(['Chennai', 'Coimbatore', 'Dindugal', 'Kanyakumari', 'Madurai',
       'Ooty', 'Salem', 'Tirunelveli', 'Kodaikanal', 'Thoothukudi',
       'Tiruppur', 'Trichy'], dtype=object)

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 42 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Branch                           288 non-null    object
 1   Month_Year                       288 non-null    datetime64[ns]
 2   Total_Sales                      288 non-null    int64
 3   Veg_Sales                        288 non-null    int64
 4   NonVeg_Sales                     288 non-null    int64
 5   South_Indian_Sales               288 non-null    int64
 6   South_Indian_Quantity            288 non-null    int64
 7   Chinese_Sales                    288 non-null    int64
 8   Chinese_Quantity                 288 non-null    int64
 9   North_Indian_Sales               288 non-null    int64
 10  North_Indian_Quantity            288 non-null    int64
 11  Arabian_Sales                    288 non-null    int64
 12  Arabian_Quantity                 288 non-null    int64
 13  Direct_Sales                     288 non-null    int64
 14  Swiggy_Sales                     288 non-null    int64
 15  Zomato_Sales                     288 non-null    int64
 16  Swiggy_Revenue_After_Commission  288 non-null    int64
 17  Zomato_Revenue_After_Commission  288 non-null    int64
 18  Total_Expenses                   288 non-null    int64
 19  Grocery_Expenses                 288 non-null    int64
 20  Total_Salaries                   288 non-null    int64
 21  Net_Profit                       288 non-null    int64
 22  Total_Employees                  288 non-null    int64
 23  Female_Employees                 288 non-null    int64
 24  Male_Employees                   288 non-null    int64
 25  Year                             288 non-null    int32
 26  Month_Number                     288 non-null    int32
 27  Month_Name                       288 non-null    object
 28  Quarter                          288 non-null    object
 29  Online_Sales                     288 non-null    float64
 30  Direct_Sales_Percent             288 non-null    float64
 31  Total_Cuision_Sales              288 non-null    int64
 32  Total_Quantity_Sold              288 non-null    int64
 33  Average_Sales_Per_Item           288 non-null    float64
 34  Profit_Margin                    288 non-null    float64
 35  Total_Expence_Ratio              288 non-null    float64
 36  Sales_Per_Employee               288 non-null    float64
 37  Male                             288 non-null    float64
 38  Female                           288 non-null    float64
 39  Swiggy_Commision                 288 non-null    int64
 40  Zomato_Commision                 288 non-null    int64
 41  Total_Commision                  288 non-null    int64
dtypes: datetime64[ns](1), float64(8), int32(2), int64(28), object(3)
memory usage: 92.4+ KB

In [51]:
data

,Branch,Month_Year,Total_Sales,Veg_Sales,NonVeg_Sales,South_Indian_Sales,South_Indian_Quantity,Chinese_Sales,Chinese_Quantity,North_Indian_Sales,...,Total_Quantity_Sold,Average_Sales_Per_Item,Profit_Margin,Total_Expence_Ratio,Sales_Per_Employee,Male,Female,Swiggy_Commision,Zomato_Commision,Total_Commision
0,Chennai,2024-07-01,729593,285808,443785,291837,1167,182398,365,182398,...,2121,343.984913,64.999938,160.150659,24319.766667,63.333333,36.666667,36592,33146,69738
1,Coimbatore,2024-07-01,738707,295848,442859,295483,1182,184677,369,184677,...,2147,344.065207,65.000061,135.206110,24623.566667,56.666667,43.333333,55130,24198,79328
2,Dindugal,2025-06-01,1142008,463262,678746,456803,1827,285502,571,285502,...,3320,343.978313,64.999982,110.370768,38066.933333,56.666667,43.333333,60458,50624,111082
3,Dindugal,2025-10-01,976690,413374,563316,390676,1563,244172,488,244172,...,2839,344.025713,64.999949,114.887221,32556.333333,60.000000,40.000000,70418,34192,104610
4,Kanyakumari,2025-08-01,904164,353208,550956,361666,1447,226041,452,226041,...,2628,344.050228,65.000044,112.495853,30138.800000,60.000000,40.000000,50347,33823,84170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tirunelveli,2024-05-01,963305,424585,538720,385322,1541,240826,482,240826,...,2800,344.037143,64.999974,193.391294,19659.285714,61.224490,38.775510,59918,37242,97160
284,Tirunelveli,2024-09-01,1012107,396269,615838,404843,1619,253027,506,253027,...,2942,344.020394,65.000044,165.095687,20655.244898,61.224490,38.775510,53581,41933,95514
285,Tiruppur,2024-03-01,1019860,404051,615809,407944,1632,254965,510,254965,...,2964,344.082321,65.000000,156.587571,20813.469388,61.224490,38.775510,75836,28360,104196
286,Tiruppur,2025-05-01,1175848,470687,705161,470339,1881,293962,588,293962,...,3418,344.016384,64.999983,143.837384,23996.897959,59.183673,40.816327,71117,50462,121579
287,Trichy,2024-06-01,1063689,412747,650942,425476,1702,265922,532,265922,...,3092,344.013260,65.000014,170.492315,21707.938776,57.142857,42.857143,68717,35952,104669

In [52]:
data.to_csv('featured-TAR-data.csv',index= False)